/*Global Styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECF2F8;
    font-family: "Manrope", sans-serif;
    height: 100vh;
}

/*Main Content Styling*/
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    text-align: left;
    width: 730px;
    height: 280px;
    background-color: white;
    border-radius: 9px;
}

.main-container img {
    width: 285px;
    height: 280px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.content-container {
    padding: 3rem;
}

.content-one {
    font-weight: 700;
    font-size: 20px;
    color: #48556A;
    margin-bottom: 1rem;
}

.content-two {
    font-weight: 500;
    font-size: 13px;
    color: #6E8098;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.social-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-content {
    display: flex;
    flex-direction: column;
}

#social-name {
    font-size: 700;
    font-size: 13px;
    color: #48556A;
}

#social-date {
    font-size: 700;
    font-size: 13px;
    color: #9DAEC2;
}

/*Button Styling*/
.share-image{
    position: relative;
    left: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECF2F8;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

.share-image img {
    width: 15px;
    height: 13px;
    filter: invert(0%);
    transition: fill 0.3s ease;
}

/*Social Popup Styling*/
.social-popup {
   position: relative;
   left: 318px;
   bottom: 152px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 12px;
   width: 248px;
   height: 67px;
   padding: 0px;
   background: #48556A;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   visibility: hidden;
}

.show {
    visibility: visible;
}

.social-popup:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 11px 11px 0;
    border-color: #48556A transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -11px;
    left: 109px;
}

.social-popup p{
    color: #9DAEC2;
    font-size: 13px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

/*Media query for mobile device*/
@media (max-width: 375px) {
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 327px;
        height: 512px;
    }

    .main-container img {
        width: 327px;
        height: 200px;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        border-bottom-left-radius: 0px;
    }

    .content-container {
        padding: 2rem;
    }

    .content-one {
        font-size: 16px;
    }

    .social-container {
        margin-top: 4rem;
    }

    .social-container img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .share-image {
        position: relative;
        left: 33px;
        z-index: 1;
    }

    #arrow {
        width: 15px;
        height: 13px;
    }

    .social-popup {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        left: 0px;
        bottom: 64px;
        gap: 15px;
        width: 327px;
        height: 64px;
        padding: 0px;
        background: #48556A;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 1rem;
    }
    .social-popup:after {
        content: none;
    }
}